// imports
@import '../styles/palette.scss';
// cards
.card {
    margin: 0 auto;
    position: absolute;
    height: 60vh;
    width: 80vw;
    perspective: 500px;
}
.card-inner {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px $dark-shade;
    position: absolute;
    transition: transform 1.3;
    transform-style: preserve-3d;
}
.card-front, .card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.card-img {
    height: 25vh;
    width: 50vw;
    border: 3px solid $dark-shade;
    border-radius: 100px;
}
.card-section {
    height: 3vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
}
.card-bio {
    height: 8vh;
    width: 70vw;
    text-align: left;
}
.card-response {
    margin-top: 4em;
    height: 10vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-response-icon {
    padding: .3em;
    color: $dark-shade;
    border: 1px solid $dark-shade;
    border-radius: 50px;
}
.card-back-fu {
    color: $dark-accent;
}
.card-back-lv {
    color: red;
}
// layout
.footer, .header {
    height: 10vh;
    width: 102%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $dark-shade;
}
.footer-icon {
    color: $light-shade;
}
.header-logo {
    color: $light-shade;
}
.header-title {
    width: 50vw;
    text-align: center;
}
.layout-content {
    color: $light-shade;
    font-size: 1.8em;
}